<h2 class="text-center mb-4">
  <span class="text-decoration-none text-primary fw-bold"><%= @category.name %></span>の開催済みイベント一覧
</h2>

<div class="row">
  <% @events.each do |event| %>
    <%= render "shared/event_card", event: event %>
  <% end %>
</div>
